		#muzik{
			color: red;
			font-size: 30px;
			text-align: center;
			font-weight: bolder;
			margin: 20px;
		}
		#liste ul{
			list-style-type: none;
			display: inline;
			list-style: none;
			list-style-position: inside;
		}
		#liste li{
			display: inline;
			margin: 10px;
			list-style-position: inside;
		}
		#liste{
			list-style-position: inside;
			text-align: center;
		}
		#anasayfa{
			text-align: center;
			font-size: 20px;
			color: purple;
			font-weight: bold;
			margin: 10px;
		}
		body{
			font-family: Arial, Helvetica, sans-serif;
		}
		#muzik-aletleri{
			text-align: center;
			color: darkgreen;
			font-weight: bold;
		}
		#aletler-liste ul{
			list-style-type: disc;
			list-style-position: inside;
		}
		#aletler-liste{
			text-align: center;
		}
		#urunler-liste{
			text-align: center;
		}
		#urunler-liste li{
			list-style-position: inside;
		}
		img{
			width: 350px;
			height: 300px;
		}
		#vizyon{
			color: darkgreen;
			font-weight: bold;
		}
